<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/" class="identification-nav">Insta Clone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapset-4 m" id="navbarSupportedContent">
            <form action="{% url 'search_results' %}" class="d-flex">
                <input type="text" class="form-control me-2" name="search" placeholder="Enter username">
                <input type="submit" value="Search">
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
                  </li>
            </ul>
        </div>
    </div>
</nav>


