{% extends 'base.html' %}

{% block content %}
    <h3 class="identification pt-4">Update {{ username }}'s bio</h3>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 px-4 py-4">
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <p class="text-danger">{{form.bio.errors}}</p>
                            {{ form.bio }}
                        </div>
                        <div class="text-center mt-4">
                        <input type="submit" value="Update" class="btn btn-outline-primary ">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
